@keyframes progress-bar-60{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
  }
@keyframes progress-bar-70{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
  }
@keyframes progress-bar-85{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
  }
@keyframes progress-bar-90{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
  }