@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400");

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-white;
}