$color-primary:rgb(18, 187, 173);
$color-primary-light: rgb(118, 221, 212);
$color-primary-dark: rgb(8, 119, 110);

$color-secondary: #fc9a49;
$color-secondary-light: #f1a96e;
$color-secondary-dark: #ff7730;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

//Font
$default-font-size: 1.6rem;

